.nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #272727;
  padding: 12px;
  padding-left: 100px;
  padding-right: 100px;
}
.home-logo {
  height: 37px;
  width: 120px;
  margin-top: 8px;
  cursor: pointer;
  outline: none;
}
.home-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.home-links {
  font-family: 'roboto';
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
.logout-btn {
  font-size: 15px;
  font-family: 'roboto';
  color: white;
  background-color: #4f46e5;
  padding: 8px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  margin-top: 10px;
}
